.idea
Lecture/Lecture5/my_env_
.idea
HomeWork/Seminar7/Notebook/__pycache__
HomeWork/Seminar8/Company_Base/__pycache__
HomeWork/Seminar9/DZ9/Scripts
HomeWork/Seminar9/DZ9/Lib
HomeWork/Seminar9/DZ9/pyvenv.cfg
HomeWork/Seminar9/DZ9/Notebook/__pycache__
